{% extends 'usuarios/base.html' %}
{% block conteudo %}

<div class="container">
    <h1>Editar Usuário</h1>
    <form method="post">
        {% csrf_token %}
        Produto: <input name="produto" class="form-control" type="text" value="{{ usuario.produto }}"><br>
        Valor: <input name="valor" class="form-control" type="text" value="{{ usuario.valor }}" id="valor-input"><br> <!-- Campo de entrada de texto -->
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>

<!-- Adicione o jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Adicione o jQuery Mask Plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script>
    $(document).ready(function() {
        // Aplica a máscara de moeda ao campo de valor
        $('#valor-input').mask('R$ 99,99');
    });
</script>

{% endblock %}